{% extends 'base.html.twig' %}

{% block title %}Calendrier Vacances v2!{% endblock %}


{% block body %}

<div>
    <h1 class="conge ">Mes congés</h1>
    <a href="{{ path('conges_new') }}">Ajouter des congés</a>
</div>




{% endblock %}