{% extends 'base.html.twig' %}

{% block title %}New Conges{% endblock %}

{% block body %}
    <h1>Create new Conges</h1>

    {{ include('conges_crud/_form.html.twig') }}

    <a href="{{ path('app_conges_crud_index') }}">back to list</a>
{% endblock %}
