
<html>
<head></head>
<body>
    <p>Bonjour {{ conge.user.username }},</p>
    <p>Votre congé prévu du {{ conge.startDate|date('d/m/Y') }} au {{ conge.endDate|date('d/m/Y') }} a été annulé.</p>
            <p>Merci,</p>
            <p>L'équipe de gestion des congés Adéo</p>

</body>
</html>
